@charset "UTF-8";
*{
	box-sizing:border-box;
}
h1{
	background:#f4a895;
	color:white;
	border-left:8px solid;
	border-color:#e33234;
	padding:10px 5px;
	font-size:14px;
	margin-bottom:20px;
}
#container{
	margin:20px auto 50px;
	width:600px;
}
table{
	width:100%;
	margin-bottom:30px;
}
th,td{
	border-bottom:1px solid;
	border-color:white;
}
th{
	background:#f4a895;
	color:white;
	font-size:16px;
	padding:9px 8px;
	width:225px;
}
td{
	padding:10px 12px 10px 8px;
	background:#ccc;
}
input{
	display:inline-block;
	width:100%;
	padding:3px 5px;
}
textarea{
	width:100%;
	height:150px;
	padding:2px 3px;
}
button,.btBox a{
	display:block;
	margin:0 auto;
	width:176px;
	height:50px;
	line-height:46px;
	text-align:center;
	color:#f4a895;
	border:2px solid #f4a895;
	border-radius:5px;
	background:white;
	transition:0.3s;
}
.btBox a{
	margin:0 10px;
	text-decoration:none;
}
.btBox{
	display:flex;
	justify-content:center;
}
button:hover,.btBox a:hover{
	background:#f4a895;
	color:white;
	cursor:pointer;
}
